/*
Color pallete
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/*Global styles
------------------------------*/
/* apply a natural box layout model to all elements,
but allowing components to change */
html {
  box-sizing: border-box;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* box model rules */
h1,
h2 {
  font-family: "Leto", sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
  margin: 0;
}
a {
  color: #ef233c;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  color: #2b2d42;
  /* This is for transitioning while hovering:
	transition: all .5s linear;
	border-bottom: 2px solid #A4D7EF;*/
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  text-decoration: none;
  background: #ef233c;
  color: white;
  padding: 10px;
  display: inline-block;
}

/*Header and footer styles
------------------------------*/
header,
footer {
  background: #2b2d42;
  color: #8d99ae;
}
/*Header*/
.profile-img {
  border-radius: 50%;
}
header h1,
header h2 {
  color: #edf2f4;
  margin: 0;
}
header {
  padding-top: 50px;
  /*position: relative;*/
}
.download {
  position: fixed;
  bottom: 0;
  right: 0;
}
/*Footer*/
footer {
  text-align: center;
}
.contact-info a {
  /*background: #EF233C;*/
  padding: 0 10px;
  display: inline-block;
  color: #edf2f4;
  text-decoration: none;
}
.contact-info a:hover {
  color: #ef233c;
  /*background: white;*/
}
/*Navigation
------------------------------*/
nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/*Work experience styles
------------------------------*/
.work {
  background: #edf2f4;
}
h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}

/*Education styles
------------------------------*/
.education {
  /*background: #8D99AE;*/
  background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
    url(../_images/Edu_cover.jpg) no-repeat fixed;
  background-position: center;
  background-size: cover;
}
/*check the following syntax*/
/*h3:nth-child(even) {
 	margin-top: 25px;*/

/*Media Queries
------------------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 899px) {
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}
